#pytest==6.2.2 # ERROR: No matching distribution found for pytest==6.2.2 (from -r requirements.txt (line 1))
pytest
#pylint==2.7.4  # ERROR: No matching distribution found for pylint==2.7.4 (from -r requirements.txt (line 3))
pylint
requests==2.25.1
click==7.1.2
black==20.8b1